/* App specific styles */

#root {
  width: 100%;
  height: 100%;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #00358d;
  margin: 6px 0;
  transition: 0.4s;
  position: relative;
  z-index: 9;
}

.open .bar1,
.open .bar2,
.open .bar3 {
  background-color: white;
}

.open .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background: #00358d;
  align-items: center;
  justify-content: center;
}

@screen md {
  .mobile-menu {
    position: relative;
    background: transparent;
    width: auto;
  }
}

.mobile-menu-list {
  text-align: center;
}

.mobile-menu-list a {
  display: block;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  margin: 20px 0;
}

@screen md {
  .mobile-menu-list a {
    color: #333;
    font-size: 1rem;
  }
}

.mobile-menu-list button {
  margin-top: 20px;
}

a.call-us {
  color: #333;
}
@screen md {
  a.call-us {
    display: none;
  }
}
